.ui-title{
    width: 1350px;
    height: 100px;
    background: #669999;
}
.ui-block{
    width: 445px;
    height: 395px;
/*    border: 1px solid #000000;*/
    margin-left: 430px;
    margin-top: 50px;
}
.ui-block-box{
    float: left;
    width:200px;
    height:40px;
    background:#a9a9a9;
    border-radius: 8px;
    margin-top: 8px;
    margin-left: 15px;
}
.ui-title-text{
    position: absolute;
    font-weight: 800;
    font-size: 50px;
    font-family:黑体;
    left: 550px;
    top: 25px;
    color: #fff;
}
.ui-block-box-text{
    font-weight: 400;
    font-size: 25px;
    font-family:黑体;
    text-align: center;
    line-height: 40px;
}
